name: .NET

on: 
  release: 
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Initialize GitVersion
      run: |
        git fetch --tags
        git branch --create-reflog main origin/master

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install GitVersion
      run: dotnet tool install --global GitVersion.Tool
    - name: Run GitVersion
      run: dotnet-gitversion /output buildserver /nocache /updateAssemblyInfo true
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish NuGet
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: src/ArchMastery.Reflector.Core/ArchMastery.Reflector.Core.csproj
        NO_BUILD: true
        NUGET_KEY: ${{ secrets.NUGET }}
        INCLUDE_SYMBOLS: false
    - name: Publish NuGet
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: src/ArchMastery.Reflector.Structurizer/ArchMastery.Reflector.Structurizer.csproj
        NO_BUILD: true
        NUGET_KEY: ${{ secrets.NUGET }}
        INCLUDE_SYMBOLS: false
