name: .NET

on: 
  push:
    branches-ignore: [master]
  release: 
    types: [published]

jobs:
  Common:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      continue-on-error: false
      with:
        fetch-depth: 0
    - name: Initialize Git
      continue-on-error: false
      run: |
        git fetch --tags
        git branch --create-reflog master origin/master

    - name: Setup .NET
      continue-on-error: false
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install GitVersion
      continue-on-error: false
      run: dotnet tool install --global GitVersion.Tool
    - name: Run GitVersion
      continue-on-error: false
      run: dotnet-gitversion /output buildserver /nocache /updateAssemblyInfo true
    - name: Dotnet
      continue-on-error: false
      run: |
        dotnet restore
        dotnet build --no-restore
        dotnet test --no-build --verbosity normal
        dotnet pack --version ${{ env.GitVersion_FullSemVer }} --no-build --verbosity normal --include-symbols --include-source  -o .

    - name: Publish ArchMastery.Reflector.Core to NUGET
      if: ${{ github.ref == 'refs/heads/main' }}
      continue-on-error: false
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: src/ArchMastery.Reflector.Core/ArchMastery.Reflector.Core.csproj
        NUGET_KEY: ${{ secrets.NUGET }}
        INCLUDE_SYMBOLS: false
    - name: Publish ArchMastery.Reflector.Structurizer to Nuget
      if: ${{ github.ref == 'refs/heads/main' }}
      continue-on-error: false
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: src/ArchMastery.Reflector.Structurizer/ArchMastery.Reflector.Structurizer.csproj
        NUGET_KEY: ${{ secrets.NUGET }}
        INCLUDE_SYMBOLS: false

    # Non-Release Deploy to GitHub
    - name: Publish to GitHub Nuget Feed
      if: ${{ github.ref != 'refs/heads/main' }}
      continue-on-error: false
      run: |
        nuget sources Add -Name GitHub -Source https://nuget.pkg.github.com/ArchMastery/v3/index.json
        nuget setapikey ${{ secrets.GITHUB }} -Source GitHub
        nuget push ./*nupkg -Source GitHub -ApiKey ${{ secrets.GITHUB }}
        
