name: .NET

on:
  release:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      event_name: ${{ github.event_name }}

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: GitHub Action to Setup GitVersion
      uses: sharpninja/setup-gitversion@master
      with:
        run-gitversion: true
        gitversion-version: 5.10.3
        run-gitversion-args: '{ "cwd": "${{ github.workspace }}" }'
        
    - name: Restore dependencies
      run: dotnet restore
    - name: Build Debug
      if: ${{ github.event_name != 'release' }}
      run: dotnet build -c Debug --no-restore 
    - name: Build Release
      if: ${{ github.event_name == 'release' }}
      run: dotnet build -c Release --no-restore 
    - name: Tests
      if: ${{ github.event_name != 'release' }}
      run: dotnet test --no-build
    - name: Publish
      shell: pwsh
      if: ${{ github.event_name == 'release' }}
      run: | 
        dotnet pack -c Release --no-build --include-symbols --include-source
        $packages = gci *.symbols.nupkg -Recurse -ErrorAction Stop

        echo "Length: ${packages.Length}"
        
        $packages | forEach-Object -process {
          $path = $_.FullName;
          echo "FullName: [$path]"
          echo "dotnet nuget push $path -k `"${{ secrets.NUGET_TOKEN }}`" -s `"https://api.nuget.org/v3/index.json`" --skip-duplicate"
          dotnet nuget push $path -k "${{ secrets.NUGET_TOKEN }}" -s "https://api.nuget.org/v3/index.json" --skip-duplicate
        }
